@import "flex_grid";
*{
	box-sizing: border-box;
}
html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding: 0;
}

ul{
	padding-left: 0;
}

img{
	display: block;
	max-width: 100%;
	object-fit: contain;
}

/*nav{
	width: 100%;
	display: inline-block;
	ul{
		width: 100%;
		@include flexbox();
		list-style: none;
		margin: 0;
		li{
			margin-bottom: 0;
			a{
				text-decoration: none;
				color: $hexBlack;

				&:hover,&.router-link-active{
					text-decoration: underline;
				}
			}
		}
	}
}*/

h1,h2,h3,h4,h5,th{
	@include fontRegular($font);
}

p,li,a,td,textarea,select,label,span{
	@include fontRegular($font);
}



.fade-enter-active,
.fade-leave-active {
	transition: opacity 500ms ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.loader {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: relative;
	animation: rotate 1s linear infinite;
	display: block;
	margin: auto;
}
.loader::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	inset: 0px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
	100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
	0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
	25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
	50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
	75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
	100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}